#main_container {
    width: 100%;
    height: 1200px;
    font-family: 'Poppins', sans-serif;
    
}


.top_nav     {
    display: flex;
    height: 40px;
    background-color: black;
    padding: 12px;
    
}
.top_nav a{
    color: darkgrey;
    font-weight: bolder;
}
.left_topnav {
    display: flex;
    width: 30%;
    padding-left: 50px;
    
    
}

.right_topnav {
    display: flex;
    width: 40%;
    justify-content: space-between ;
    margin-left: 20%;
   
}

a {
     padding: 30px;
    text-decoration: none;
    font-size: 17px;
    width: 25%; 
    text-align: center;
    font-size: 10px;
    
}

.nav1select {
   
    font-size: 9px;
    color: darkgray;
    font-weight: bolder;
    
}
.nav2 {
    height: 70px;
    display: flex;
    
    background-color: black;
}
.left_nav2 {
    display: flex;
    width: 35%;
    padding-left: 50px;
    align-items: center;
    justify-content: space-between;
    
    
}

.right_nav2 {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    text-align: center;
    background-color: black;
    color: white;
    text-decoration: none;
    border: 0;
  }
  .banner1 {
      background-size: cover;
      width: 100%;
      height: 100%;
  }
  .banner2 {
       width: 100%;
       height: 40%;
       
  }
  .headbanner {
      width: 30%;
      height: 12%;
      margin:auto ;
      text-align: center;
      
  }
  .banner2_img {
      display: flex;
      width: 100%;
      height: 80%;
      justify-content: center;
      margin-top: 20px;
      text-align: center;
      
  }
  
  .banner3 {
      width: 100%;
      height: 550px;
      
  }
 .banner3_img {
      display: flex;
      height: 300px;
      width: 100%;
      justify-content: center;
      background-color: black;
      margin-top: 20px;
}
.banner3_img div {
        margin-right: 20px;
        
 }

 .banner4 {
     width: 100%;
    height: 550px;
}
.banner2_img div {
    margin-right: 20px;
}
.grid_banner {
    width: 92%;
    height: 1000px;
    display: flex;
    margin-top: 50px;
    margin-left: 80px;
}
.black {
    width: 40%;
    height: 100%;
    background-color: black;
}
.grid_img1 {
    width: 40%;
    height: 320px;
    margin-left: -35px;
    margin-top: 55px;
}
.black_text {
    color: white;
    text-align: center;
    margin-top: 30%;
    font-size: 22px;   
    font-weight: 30px;
    line-height: 25px;
    margin-right: 40px;
}
.grid_img2 {
    margin-left: 30px;
    margin-top: 30%;
}
.white_text {
    color: black;
    text-align: center;
    margin-top: 40%;
    margin-left: -22%;
    font-size: 22px;
    font-weight: 30px;
    line-height: 25px;
}
.rs  {
    display: inline-flex;
    
}
.rs + p {
    text-decoration: line-through;
}
h3 + .b5para {
   margin-top: -12px;
}
.follow_us {
   text-align: center;
   margin-top: 120px;
   margin-bottom: 50px;
   border: 1px solid grey;
}
.gridbox {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(4, 270px);
    grid-gap: 10px;
    margin-left: 10px;
    grid-template-areas:
                        "a a a a a b b b c c c d d d"
                        "a a a a a e e e f f f g g g"
                        "h h h i i i j j j k k k k k"
                        "l l l m m m n n n k k k k k"
                         
}
.gridbox > div{
   box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
   border-radius: 3px;
}
.gridbox > div:nth-child(1) {
    grid-area: a;
}

.gridbox > div:nth-child(2) {
    grid-area: b;
}
.gridbox > div:nth-child(3) {
    grid-area: c;
}
.gridbox > div:nth-child(4) {
    grid-area: d;
}
.gridbox > div:nth-child(5) {
    grid-area: e;
}
.gridbox > div:nth-child(6) {
    grid-area: f;
}

.gridbox > div:nth-child(7) {
    grid-area: g;
}
.gridbox > div:nth-child(8) {
    grid-area: h;
}
.gridbox > div:nth-child(9) {
    grid-area: i;
}
.gridbox > div:nth-child(10) {
    grid-area: j;
}
.gridbox > div:nth-child(11) {
    grid-area: k;
}
.gridbox > div:nth-child(12) {
    grid-area: l;
}
.gridbox > div:nth-child(13) {
    grid-area: m;
}
.gridbox > div:nth-child(14) {
    grid-area: n;
}
.gridbox > div:nth-child(15) {
    grid-area: o;
}
.gridbox > div:nth-child(16) {
    grid-area: p;
}
.grid_Simg {
    width: 310px;
    height: 270px;
}
.load_btn_div {
      text-align: center;
}
.load_btn {
    border: 1px solid grey;
    padding: 10px 14px 8px 14px;
    background-color: white;
    color: grey;
}
.footer1 {
    width: 100%;
    height: 160px;
}
.footer1_div {
    text-align: center;
}
.footer1h2{
    font-weight: bolder;
}
.footer1btn1 {
    padding: 10px 90px 10px 90px;
}
#inpbox {
    width: 200px;
    height: 35px;
}
.footer1btn2 {
    padding: 10px 20px 10px 20px;
}
.footer2 {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: black;
}
.footer3 {
    font-size: 15px;
    text-align: justify;
    width: 100%;
}
.containerM{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    
}
.col {
    width: 200px;
    height: 250px;
}


.c5 {
    width: 400px;
    height: 250px;
    
}
.app_logo {
    display: flex;
    align-items: center;
    margin-top: -60px;
}
.social  {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -60px;
}
.payment {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: larger;
    
}
a {
    color: white;
}
